@import "../variables.scss";

.banner-wrapper {
    position: absolute;
    top: calcvw(200);
    left: calcvw(300);
}

.banner {
    display: flex;
}

.banner-text-left {
    width: calcvw(500);
    height: calcvw(200);
    margin-right: 50px;
    font-size: calcvw(144);
    text-align: right;
    -webkit-text-fill-color: rgba($color: #000000, $alpha: 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    &:hover {
        -webkit-text-fill-color: rgba($color: #111111, $alpha: 0);
    }

    transition: -webkit-text-fill-color 1s;
}

.banner-text-right {
    width: calcvw(200);
    height: calcvw(200);
    display: block;
    font-size: calcvw(144);
}
