@import "./variables.scss";

#root,
body,
html,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#home-navbar {
  position: absolute;
  z-index: 1;
}

.app-page-wrapper {
  position: absolute;
  pointer-events: none;
  > * {
    pointer-events: all;
  }
}

.app-page {
  width: 100vw;
  height: 100vh;
}

.navbar-button {
  -webkit-user-select: none;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  * {
    transition: color 1s;
  }
  white-space: nowrap;
  :link {
    color: none;
  }
  :visited {
    color: none;
  }
  :hover {
    color: none;
  }
  :active {
    color: none;
  }
  position: absolute;
  top: calcvw(70);

  &#home {
    left: calcvw(80);
  }
  &#download {
    left: calcvw(490);
  }
  &#contact {
    left: calcvw(720);
  }
  &#story {
    left: calcvw(960);
  }
  &#login {
    left: calcvw(1630);
  }

  .navbar-button-inner {
    font-family: $font-fredoka;
    font-size: calcvw(30);
    color: black;
  }
}

#app {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

#app-background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

#myCanvas {
  width: 175vw;
  height: 200vw;
  transform: rotate(-28deg) translateY(20vw);
}
