@import "../../variables.scss";
#panel-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    img {
        height: 28px;
    }
}

.svg-path {
    fill: $oxford-blue;
}
