@import "./variables.scss";

#root,
body,
html,
#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#home-navbar {
  position: absolute;
}

.app-page {
  width: 100vw;
  height: 100vh;
}

.navbar-button {
  text-decoration: none;
  * {
    transition: color 1s;
  }
  white-space: nowrap;
  :link {
    color: none;
  }
  :visited {
    color: none;
  }
  :hover {
    color: none;
  }
  :active {
    color: none;
  }
  position: absolute;
  top: calcvw(70);

  &#home {
    left: calcvw(80);
  }
  &#download {
    left: calcvw(490);
  }
  &#contact {
    left: calcvw(720);
  }
  &#story {
    left: calcvw(960);
  }
  &#login {
    left: calcvw(1630);
  }

  .navbar-button-inner {
    font-family: $font-fredoka;
    font-size: calcvw(30);
    color: black;
  }
}
